<div class="settings__container">
  <form [formGroup]="groupControl">
    <div class="settings__form--item">
      <mat-form-field
        hintLabel="Max 30 characters"
        appearance="outline"
        class="settings__form--field--item"
      >
        <mat-label>
          Project name
        </mat-label>
        <input
          matInput
          maxlength="30"
          formControlName="nameControl"
        >
        <mat-hint
          align="end">{{nameControl.value?.length || 0}}/30
        </mat-hint>
        <mat-error
          *ngIf="nameControl?.hasError('required')"
        >
          Please set a name for your Project!
        </mat-error>
      </mat-form-field>
    </div>
    <div class="settings__form--item">
      <mat-form-field
        appearance="outline"
        class="settings__form--field--item"
      >
        <mat-label>
          Project ID
        </mat-label>
        <input
          matInput
          [value]="pid"
          disabled
        >
      </mat-form-field>
    </div>
    <div class="settings__form--item">
      <mat-form-field appearance="outline">
        <mat-label>
          Choose a starting date
        </mat-label>
        <input
          matInput
          formControlName="startdateControl"
          [matDatepicker]="datePicker"
        >
        <mat-datepicker-toggle
          matSuffix
          [for]="datePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker
          #datePicker
          startView="multi-year">
        </mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Select a period</mat-label>
        <mat-select
          formControlName="periodControl"
        >
          <mat-option
            [value]="period"
            *ngFor="let period of periods"
          >
            {{period | toYear}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="settings__form--item">
      <mat-form-field
        appearance="outline"
        class="settings__form--field--item--mid"
      >
        <mat-label>
          Tax system (country)
        </mat-label>
        <mat-select
          formControlName="taxsystemControl"
        >
          <mat-option
            *ngFor="let country of taxCountries"
            [value]="country.name"
          >
            {{country.name}} ({{country.code}})
          </mat-option>
        </mat-select>
        <mat-hint *ngIf="taxsystemControl">
          {{currentTaxSystem && (currentTaxSystem.rates | taxRates)}}
        </mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Tax payments</mat-label>
        <mat-select
          formControlName="taxpayControl"
        >
          <mat-option
            [value]="interval"
            *ngFor="let interval of intervals"
          >
            {{interval}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="settings__form--item">
      <button mat-stroked-button
        (click)="saveSettings()"
        color="primary"
        [disabled]="disabled"
        [matBadgeHidden]="disabled"
        matBadge="!"
        matBadgePosition="after"
      >
        Save
      </button>
      <div
        *ngIf="false"
        class="settings__action-spinner"
      >
        <mat-spinner diameter="20">
        </mat-spinner>
      </div>
    </div>
  </form>
</div>
